.parent {
  position: relative;
  top: 0;
  left: 0;
}

.fondo {
  position: relative;
   width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.tamañoBoton{
      width: 40%;
  height: auto;
}

.tamañoBoton1{
      width: 70%;
  height: auto;
}

.jugar {
  position: absolute;
  top: 30%;
  left: 37%;
}

.jugar .jugar-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.jugar:hover .jugar-top {
  display: inline;
}

.opciones {
  position: absolute;
  top: 50%;
  left: 8%;
}

.opciones .opciones-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.opciones:hover .opciones-top {
  display: inline;
}

.puntaciones {
  position: absolute;
  top: 50%;
  left: 65%;
}

.puntaciones .puntaciones-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.puntaciones:hover .puntaciones-top {
  display: inline;
}

.continuar {
  position: absolute;
    width: 25%;
  height: auto;
  top: 30%;
  left: 20%;
}

.botonVolver{
      width: 90%;
  height: auto;
}

.volver {
  position: absolute;
  top: 85%;
  left: 80%;
}

.volver .volver-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.volver:hover .volver-top {
  display: inline;
}

.opciones_titulo {
  position: absolute;
    width: 60%;
  height: auto;
  top: 1%;
  left: 20%;
}

.opciones_titulo {
  position: absolute;
    width: 80%;
  height: auto;
  top: 2%;
  left: 10%;
}

.sonidos {
  position: absolute;
    width: 25%;
  height: auto;
  top: 30%;
  left: 36%;
}

.musica {
  position: absolute;
    width: 25%;
  height: auto;
  top: 60%;
  left: 36%;
}

.sonidoOff {
  position: absolute;
    width: 18%;
  height: auto;
  top: 38%;
  left: 30%;
}

.sonidoOn {
  position: absolute;
    width: 18%;
  height: auto;
  top: 38%;
  left: 48%;
}

.musicaOff {
  position: absolute;
    width: 18%;
  height: auto;
  top: 69%;
  left: 30%;
}

.musicaOn {
  position: absolute;
    width: 18%;
  height: auto;
  top: 69%;
  left: 48%;
}

.pausa1 {
  position: absolute;
    width: 20%;
  height: auto;
  top: 2%;
  left: 2%;
}

.pausaTitulo {
  position: absolute;
    width: 50%;
  height: auto;
  top: 2%;
  left: 24%;
}

.tamañoBoton2{
      width: 100%;
  height: auto;
}

.continuar {
  position: absolute;
  top: 25%;
  left: 36%;
}

.continuar .continuar-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.continuar:hover .continuar-top {
  display: inline;
}

.opciones2 {
  position: absolute;
  top: 50%;
  left: 36%;
}

.opciones2 .opciones2-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.opciones2:hover .opciones2-top {
  display: inline;
}

.menuPrincipal {
  position: absolute;
  top: 75%;
  left: 36%;
}

.menuPrincipal .menuPrincipal-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.menuPrincipal:hover .menuPrincipal-top {
  display: inline;
}


.cadena1 {
  position: absolute;
    width: 1%;
  height: auto;
  top: 0%;
  left: 11%;
}

.cadena2 {
  position: absolute;
    width: 1%;
  height: auto;
  top: 0%;
  left: 29%;
}

.cadena3 {
  position: absolute;
    width: 1%;
  height: auto;
  top: -10%;
  left: 40%;
}

.cadena4 {
  position: absolute;
    width: 1%;
  height: auto;
  top: -10%;
  left: 58%;
}

.cadena5 {
  position: absolute;
    width: 1%;
  height: auto;
  top: 0%;
  left: 68%;
}

.cadena6 {
  position: absolute;
    width: 1%;
  height: auto;
  top: 0%;
  left: 86%;
}


.francia {
  position: absolute;
  top: 40%;
  left: 15%;
}

.francia .francia-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.francia:hover .francia-top {
  display: inline;
}


.china {
  position: absolute;
  top: 40%;
  left: 40%;
}

.china .china-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.china:hover .china-top {
  display: inline;
}


.japon {
  position: absolute;
  top: 40%;
  left: 65%;
}

.japon .japon-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.japon:hover .japon-top {
  display: inline;
}

.tamañoBoton3{
      width: 55%;
  height: auto;
}